# Ignore node_modules and build artifacts in the client directory
client/node_modules/
client/build/

# Ignore Python virtual environment and database files in the server directory
server/venv/
server/db.sqlite3

# Ignore IDE-specific files or settings
*.idea/

# Ignore logs and cache
*.log
*.log.*
__pycache__/

# Ignore environment-specific files
.env
dev.env

# Ignore miscellaneous system files
.DS_Store
/data

# Ignore package lock files
package-lock.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*